<div style="background-image: url(https://ik.imagekit.io/pzvnaziyh/bg1_lUtvN92U7.avif?updatedAt=1682071299613); height: 130vh; width: 100vw; background-repeat:no-repeat; background-size: cover;">
<nav class="navbar navbar-expand-lg navbar-gradiant bg-gradiant">
  <div class="container">
    <a class="navbar-brand" href="https://www.winwire.com/" title="Go to winwire Official homepage"><img src='https://ik.imagekit.io/pzvnaziyh/logo_winwire_7GlZF1v2P.png?updatedAt=1682069121067'></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/employees"><button style="border-radius:5px; background-color:blue; color: white;">Employees</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/employees/add"><button style="border-radius:5px; background-color:green; color: white;  text-align: right;">Add Employee</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<marquee behavior="scroll" direction="left">WinWire Technologies</marquee>

<router-outlet></router-outlet>
