.carousel-control-next,
.carousel-control-prev {
  color: #fff;
}


.carousel-control-prev-icon {
    color: blue !important;
  }
  
  .carousel-control-next-icon {
    color: green !important;
  }
  