.success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
  }
  .success-message {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #c1e1c5;
    border: 1px solid #57a058;
    padding: 10px;
    border-radius: 4px;
  }
  